<% content_for :page_title do %>
  <%= Spree.t(:envios_citybox) %>
<% end %>

<% content_for :page_actions do %>
  <%= search_form_for @q, :url => admin_citybox_orders_path do |f| %>
    <%= f.label :created_at_gteq, 'Desde'%>
    <%= f.date_field :created_at_gteq %>

    <%= f.label :created_at_lteq, 'Hasta' %>
    <%= f.date_field :created_at_lteq %>
    <%= f.submit 'Filtrar' %>
    <%= f.submit 'Exportar' %>
  <% end %>
<% end %>

<%= render :partial => 'spree/admin/shared/order_submenu' %>

<% content_for :table_filter_title do %>
  <%= Spree.t(:search) %>
<% end %>

<div id="new_citybox_orders_wrapper" data-hook></div>

<% if @collection.any? %>
  <table class="index" id="listing_citybox_orders">
    <thead>
      <tr data-hook="admin_citybox_orders_index_headers">
        <th>Nombre Destinatario</th>
        <th>Dirección Destinatario</th>
        <th>Comuna</th>
        <th>País</th>
        <th>Referencia</th>
        <th>Valor</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Fecha Creación</th>
      </tr>
    </thead>
    <tbody>
      <% @collection.each do |citybox| %>
          <tr id="<%= spree_dom_id citybox %>" data-hook="admin_citybox_orders_index_rows" class="<%= cycle('odd', 'even') %>">
            <td class="align-center"><%= citybox.customer_name rescue '' %></td>
            <td class="align-center"><%= citybox.citybox_location rescue '' %></td>
            <td class="align-center"><%= citybox.city rescue '' %></td>
            <td class="align-center"><%= citybox.country rescue '' %></td>
            <td class="align-center"><%= citybox.order.number rescue '' %></td>
            <td class="align-center"><%= citybox.total rescue '' %></td>
            <td class="align-center"><%= citybox.email rescue '' %></td>
            <td class="align-center"><%= citybox.phone rescue '' %></td>
            <td class="align-center"><%= citybox.created_at rescue '' %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

